* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background: #757575;
}

.main-header {
	color: #01BAEF;
	text-align: center;
	padding: 2rem;
	border-bottom: 2px solid #01BAEF;
}

h2 {
	text-align: center;
	color: #01BAEF;
}

.to-do-form {
	width:  80%;
	margin:  20px auto;
	background: #01BAEF;
	padding: 2rem;
	border-radius: 10px;
}

.to-do-form label {
	display: block;
	padding: 1rem;
	text-align: center;
	color: #FBFBFF;
	font-size: 24px;
}

.btn {
	display: inline-block;
	padding: 1rem;
	font-size: 16px;
	margin: 10px;
	border-radius: 10px;
	background: #0B4F6C;
	color: #FBFBFF;
}

.to-do-form input {
	display: block;
	width: 80%;
	margin: auto;
	font-size: 18px;
	text-align: center;
}

.to-do-list {
	width: 50%;
	margin: 20px auto;
	min-height: 30px;
	border: 5px double #01BAEF;
	background-color: #757575;
	color: #FBFBFF;
	list-style: none;
}

.to-do-list li {
	padding: 1rem;
	margin: 10px;
	background: #01BAEF;
	font-size: 18px;
	
}

.center-text {
	text-align: center;
}

@media (max-width: 700px) {
	.to-do-form {
		width:  100%;
	}
	.to-do-list { 
		width:  100%;
	}
}


.close-to-do {
	display: inline-block;
	margin-right: 10px;
	font-size: 24px;
}














